body{
    margin-top: 70px;
    background: #333;
    color:white;
}
.card1{
  background: blue;
}
.card2{
  background: red;
}
.card3{
  background: green;
}
.card4{
  background: blue;
}
.card5{
  background: red;
}
.card6{
  background: green;
}
.card7{
  background: grey;
}
.card8{
  background: blue;
}
.card9{
  background: red;
}
.card10{
  background: blue;
}
.card11{
  background: red;
}
.card12{
  background: green;
}
.card13{
  background: blue;
}
.card14{
  background: red;
}
.card15{
  background: green;
}
.card16{
  background: grey;
}
.card17{
  background: violet;
}